body {
    background-color: #ffffff;
    width: 100vw;
    height: 100vh;
    margin: 0;
}

.logo{
    margin:5vh auto 10vh auto;
    display: block;
    height: 15vh;
    border: 2px solid aliceblue;
}

/* canvas{ */
    /* display: block; */
    /* scale: 40%; */
    /* transform-origin:50% 0%; */
    /* border: 5px solid  rgb(0, 0, 0); */
/* } */